*{<meta charset="utf-8">}*
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP" xml:lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/exp4todo3.css'}">
  <script type="text/javascript" src="@{'/public/javascripts/exp4todo.js'}"></script>
  <link meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>exp4todo</title>
</head>
<body>
<div id="wrapper">
<h1>exp4todo</h1>
<div id="A">
	<p>exp4todoへようこそ！</p>
	<a href="@{loginform()}" onclick="window.open('@{loginform()}','', 'width=510, height=740'); return false;">ログイン画面へ</a>

</div>
<div id="B">
	<img src="@{'/public/images/deb3ab0175580a5ff97262210316c2d3_m.jpg'}" width ="100%"/>
</div>
</div>
</body>
</html>
